# Whether to enable mouse or not.
mouse = true
# The program to open when the `keys.message_input.editor` keymap is pressed. Set the value to `"default"` to use `$EDITOR`.
editor = "default"

# Whether to parse and render markdown in messages or not.
markdown = true
hide_blocked_users = true
show_attachment_links = true

# Use autocomplete_limit = 0 to disable autocompleting mentions
# Note: tab completion will still work, but it won't show any list.
autocomplete_limit = 20

# The number of messages to fetch when a text-based channel is selected from guilds tree. The minimum and maximum value is 0 and 100, respectively.
messages_limit = 50

[timestamps]
enabled = true
# https://pkg.go.dev/time#Layout
format = "3:04PM"

[notifications]
enabled = true
# The duration of the sound. Set the value to `0` to use default duration. This is only supported on Unix and Windows.
duration = 0
[notifications.sound]
enabled = true
only_on_ping = true

# How Discord sees us.
# status: "online", "idle", "dnd" (Do Not Disturb), "" (invisible),
# note: does not seem to work
[identify]
status = "online"
browser = "default"
browser_version = "default"
user_agent = "default"

# Global shortcuts
# Esc: Reset message selection or close the channel selection popup.
[keys]
focus_guilds_tree = "Ctrl+G"
focus_messages_text = "Ctrl+T"
focus_message_input = "Ctrl+P"
# Hide/show the guilds tree.
toggle_guilds_tree = "Ctrl+B"
quit = "Ctrl+C"
# Log out and remove the authentication token from keyring.
# Requires re-login upon restart.
logout = "Ctrl+D"

# Only while focusing on the guilds tree
[keys.guilds_tree]
select_previous = "Rune[k]"
select_next = "Rune[j]"
select_first = "Rune[g]"
select_last = "Rune[G]"
# Select the currently highlighted text-based channel or expand a guild or channel.
select_current = "Enter"
yank_id = "Rune[i]"
collapse_parent_node = "Rune[-]"
move_to_parent_node = "Rune[p]"

# Only while focusing on sent messages
[keys.messages_text]
select_previous = "Rune[k]"
select_next = "Rune[j]"
select_first = "Rune[g]"
select_last = "Rune[G]"
# Select the message reference (reply) of the selected channel.
select_reply = "Rune[s]"
# Reply to the selected message.
reply = "Rune[r]"
# Reply (with mention) to the selected message.
reply_mention = "Rune[R]"
cancel = "Esc"
delete = "Rune[d]"
# Open the selected message's attachments or hyperlinks in the message
# using the default browser application.
open = "Rune[o]"
# Yank (copy) the selected message's content/url/id.
yank_content = "Rune[y]"
yank_url = "Rune[u]"
yank_id = "Rune[i]"

# Only while typing a message
# Alt+Enter: Insert a new line to the current text.
[keys.message_input]
send = "Enter"
# Open message input in your editor.
editor = "Ctrl+E"
# Remove existing text or cancel reply.
cancel = "Esc"
# Complete usernames when mentioning
tab_complete = "Tab"

# When typing and there's an autocomplete list visible,
# pressing these keys will focus on the list instead of the message input.
[keys.autocomplete]
up = "Up"
down = "Down"

# Applies to all
[theme]
background_color = "default"
# Set to true to prefer server-specific nicknames.
prefer_nicks = true
# Set to true to show usernames instead of display names.
show_usernames = false

[theme.title]
# The values can be one of the following: `"left"`, `"center"`, and `"right"`.
alignment = "left"
# style supports foreground and background.
style = { foreground = "default" }
active_style = { foreground = "green" }

[theme.border]
enabled = true
# [top, bottom, left, right]
padding = [0, 0, 1, 1]
# The values can be one of the following: `"plain"`, `"round"`, `"thick"`, and `"double"`.
set = "plain"
style = { foreground = "default" }
active_style = { foreground = "green" }

[theme.guilds_tree]
auto_expand_folders = true
# Give tree-like shape
graphics = true
graphics_color = "default"
private_channel_color = "white"
guild_color = "white"
channel_color = "white"

[theme.messages_text]
show_user_colors = true

reply_indicator = ">"
forwarded_indicator = "<"

author_style = { foreground = "aqua" }
mention_style = { foreground = "blue" }
emoji_style = { foreground = "green" }
url_style = { foreground = "blue" }
attachment_style = { foreground = "yellow" }

[theme.autocomplete]
# Set to true to show server-specific nicknames instead of display names.
show_user_nicks = true
# Set to true to always show usernames next to nick/display names.
# Note: if a user did not set a nick/display name, usernames will be shown
# even with show_usernames = false.
show_usernames = true
show_user_colors = true

# Note: width and height are capped to the avaliable space
# Minimum width
# 0 = make the list as wide as possible
min_width = 20

# Maximum height
# 0 = make the list as tall as needed
max_height = 0
