name: ci
on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: '^1.20'

      - name: Build
        run: go build .
        env:
          CGO_ENABLED: 0
  
      - uses: actions/upload-artifact@v3
        if: ${{ github.event_name == 'push' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        with:
          name: discordo_${{ runner.os }}_${{ runner.arch }}
          path: |
            discordo
            discordo.exe
