name: ci
on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17'

      - name: Format
        run: make fmt

      - name: Test
        run: make test

      - name: Build
        run: make build
  
      - uses: actions/upload-artifact@v2
        with:
          name: discordo
          path: ./discordo
